body {
	margin: 0;
	padding: 0;
	background-color: #fff;
}

html { 
  height: 100%;
  margin: 0;
  padding: 0;
}

h1 {
	font-size: 1.5em;
	color: white;
	width: 50%;
	margin: -20px auto 20px auto;
	padding-top: 5%;
	line-height: 1.5;


}

h2 {
	font-size: 1.25em;
	color: white;
	width: 50%;
	margin: 0 auto;
	line-height: 1.5;
}

.hr-head {
	width: 25%;
	margin: 0 auto;
}


#header {
	background-color: steelblue;
/*	min-height: 300px;*/
    height: auto;
    padding-bottom: 5%;
    margin-bottom: 20px;
    margin-top -40px;    
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

}

.project-img {
	width: 240px;
	height: auto;
	float: left;
	margin-right: 5%;
}

.project-h, .project-p {

}
.project {
	position: relative;
	margin-left: 10%;
	margin-right: 10%;
	overflow: auto;
}

.img-text {
	display: none;
	border 1px solid #000;
	height: 30px;
	width: 290px;
	margin-left: 10px;
}

.project-img:hover .img-text {
	display: block;
}
